In [43]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
import pandas as pd
import os

data_folder = '../../../data/AdTalking'

## Training Sample

In [45]:
%%time
file = 'train.csv'
file_path = os.path.join(data_folder, file)

df = pd.read_csv(file_path, parse_dates=['click_time'])
df

CPU times: user 1min 25s, sys: 10.6 s, total: 1min 36s
Wall time: 1min 35s

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0
...,...,...,...,...,...,...,...,...
184903885,121312,12,1,10,340,2017-11-09 16:00:00,NaN,0
184903886,46894,3,1,19,211,2017-11-09 16:00:00,NaN,0
184903887,320126,1,1,13,274,2017-11-09 16:00:00,NaN,0
184903888,189286,12,1,37,259,2017-11-09 16:00:00,NaN,0
184903889,106485,11,1,19,137,2017-11-09 16:00:00,NaN,0

## 불필요 컬럼 드랍

In [46]:
def drop_column(raw_df, col):
    df = raw_df.drop(columns=[col])
    return df

df = drop_column(df, col='attributed_time')

## 컬럼 이름 변경

In [47]:
# def rename_columns(raw_df, old_name, new_name):
    
#     df = raw_df.rename(columns={old_name:new_name})
#     return df
    
# rename_columns(raw_df, old_name, new_name):    
df = df.rename(columns={'is_attributed':'EVENT_LABEL'})    
df = df.rename(columns={'click_time':'EVENT_TIMESTAMP'})

## 데이타 Resampling (훈련, 테스트)

In [49]:
print("min time: ", df.EVENT_TIMESTAMP.min())
print("max time: ", df.EVENT_TIMESTAMP.max())

min time:  2017-11-06 14:32:21
max time:  2017-11-09 16:00:00

In [60]:
def split_data_by_time(df, target_col, label_col, total_samples, split_rate, fraud_rate, train_end, test_start, verbose=False):
    '''
    시간 관점으로 번반부튼 훈련, 후반부는 테스트 데이터로 해서 샘블링 함.
    '''
    
    # 훈련 데이터 셋
    train_df = df[df[target_col] <= train_end]   
    train_num = int(total_samples * (1 - split_rate))    
    train_sample = train_df.sample(n = train_num, random_state=100)        

    print("train sample shape: ", train_sample.shape)
    print("train min time: ", train_sample[target_col].min())
    print("train max time: ", train_sample[target_col].max())
    print("Train fraud ratio: ", round(train_sample[label_col].value_counts()[1] / train_sample.shape[0],5))
    print("# of Train frauds: ", train_sample[label_col].value_counts()[1])     


    # 테스트 데이터 셋    
    test_df = df[df[target_col] >= test_start]    
    test_num = int(total_samples * (split_rate))    
    test_sample = test_df.sample(n = test_num, random_state=100)    
    

    print("\ntest sample shape: ", test_sample.shape)    
    print("test min time: ", test_sample[target_col].min())
    print("test max time: ", test_sample[target_col].max())
    print("Fest ratio: ", test_sample[label_col].value_counts()[1] / test_sample.shape[0])
    print("Test fraud ratio: ", round(test_sample[label_col].value_counts()[1] / test_sample.shape[0],5))    
    print("# of test frauds: ", test_sample[label_col].value_counts()[1])         
    
    
    return train_sample, test_sample
    
train_df, test_df = split_data_by_time(
                       df=df, 
                       target_col='EVENT_TIMESTAMP', 
                       label_col = 'EVENT_LABEL',
                       total_samples=200000, 
                       split_rate=0.1, 
                       fraud_rate = 0.02,
                       train_end='2017-11-08 23:59', 
                       test_start='2017-11-09 00:00',    
                       verbose = True,
                  )

train sample shape:  (180000, 7)
train min time:  2017-11-06 15:08:24
train max time:  2017-11-08 23:58:58
Train fraud ratio:  0.00242
# of Train frauds:  435

test sample shape:  (20000, 7)
test min time:  2017-11-09 00:00:01
test max time:  2017-11-09 15:59:58
Fest ratio:  0.00275
Test fraud ratio:  0.00275
# of test frauds:  55

## 코드 데이터 (예: OS) 문자형 으로 변경
숫자값에 'str' 를 넣어서 명시적으로 스트링으로 타입 변환
이유는 csv로 데이터 프레임을 저장시에, string 타입이 일반 숫자형 타입으로 변경이 되어서 명시적으로 스트링으로 변경 함.

In [61]:
from src.p_utils import change_code_to_string

train_df = change_code_to_string(train_df, col='ip', new_col='str_ip', verbose=False)
train_df = change_code_to_string(train_df, col='app', new_col='str_app', verbose=False)
train_df = change_code_to_string(train_df, col='device', new_col='str_device', verbose=False)
train_df = change_code_to_string(train_df, col='os', new_col='str_os', verbose=False)
train_df = change_code_to_string(train_df, col='channel', new_col='str_channel', verbose=False)

test_df = change_code_to_string(test_df, col='ip', new_col='str_ip', verbose=False)
test_df = change_code_to_string(test_df, col='app', new_col='str_app', verbose=False)
test_df = change_code_to_string(test_df, col='device', new_col='str_device', verbose=False)
test_df = change_code_to_string(test_df, col='os', new_col='str_os', verbose=False)
test_df = change_code_to_string(test_df, col='channel', new_col='str_channel', verbose=False)

### 기존 컬럼 삭제

In [62]:
train_df = drop_column(train_df, col='ip')
train_df = drop_column(train_df, col='app')
train_df = drop_column(train_df, col='device')
train_df = drop_column(train_df, col='os')
train_df = drop_column(train_df, col='channel')

test_df = drop_column(test_df, col='ip')
test_df = drop_column(test_df, col='app')
test_df = drop_column(test_df, col='device')
test_df = drop_column(test_df, col='os')
test_df = drop_column(test_df, col='channel')

In [63]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180000 entries, 37517593 to 62920975
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   str_ip           180000 non-null  object
 1   str_app          180000 non-null  object
 2   str_device       180000 non-null  object
 3   str_os           180000 non-null  object
 4   str_channel      180000 non-null  object
 5   EVENT_TIMESTAMP  180000 non-null  datetime64[ns]
 6   EVENT_LABEL      180000 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 11.0+ MB

## 로컬에 데이터 CSV 로 저장

In [64]:
from src.p_utils import save_csv_local

train_file_name = 'train-' + str(train_df.shape[0]) + ".csv"
train_local_path = save_csv_local(raw_df=train_df, preproc_folder='data/train', 
                                  label='EVENT_LABEL', file_name=train_file_name)
print("train_local_path: ", train_local_path)

test_file_name = 'test-' + str(test_df.shape[0]) + ".csv"
test_local_path = save_csv_local(raw_df=test_df, preproc_folder='data/test', 
                                  label='EVENT_LABEL', file_name=test_file_name)
print("test_local_path: ", test_local_path)

data/train/train-180000.csv is saved
train_local_path:  data/train/train-180000.csv
data/test/test-20000.csv is saved
test_local_path:  data/test/test-20000.csv

## S3에 데이로 업로딩

In [65]:
import sagemaker

bucket = sagemaker.Session().default_bucket()
# 프로젝트 변수
project_prefix = 'adtalking_fraud_phase0'


# S3에 저장되는 데이터의 기본 폴더 위치
s3_train_data_uri = f"s3://{bucket}/{project_prefix}/train"
s3_test_data_uri = f"s3://{bucket}/{project_prefix}/test"

In [66]:
s3_train_data_uri = sagemaker.s3.S3Uploader.upload(
    local_path=train_local_path, 
    desired_s3_uri=s3_train_data_uri,    
)
print("s3_train_data_uri: \n", s3_train_data_uri)

s3_test_data_uri = sagemaker.s3.S3Uploader.upload(
    local_path=test_local_path, 
    desired_s3_uri=s3_test_data_uri,    
)
print("s3_test_data_uri: \n", s3_test_data_uri)

s3_train_data_uri:
 s3://sagemaker-us-east-1-057716757052/adtalking_fraud_phase0/train/train-180000.csv
s3_test_data_uri:
 s3://sagemaker-us-east-1-057716757052/adtalking_fraud_phase0/test/test-20000.csv

## 변수 저장

In [67]:
%store project_prefix
%store bucket
%store train_local_path
%store test_local_path
%store s3_train_data_uri
%store s3_test_data_uri

Stored 'project_prefix' (str)
Stored 'bucket' (str)
Stored 'train_local_path' (str)
Stored 'test_local_path' (str)
Stored 's3_train_data_uri' (str)
Stored 's3_test_data_uri' (str)